%button {
    @extend %button_font;
    border: none;
    padding: 0.9375rem;
    min-width: 200px;
    max-width: 90%;
    border-radius: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition-duration: $default-transition-duration;
}

.button-link,
.tabs button {
    @extend %button_font;
    border: none;
    background-color: transparent;
    padding: 0px;
}

.tabs {
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
        display: inline-block;
        padding: 1rem 1rem 1rem 0px;
    }

    button {
        color: $gray;
        padding-bottom: 1rem;
    }

    button.active {
        color: $primary_button_color;
        border-bottom: 4px solid $primary_button_color;
    }
}

.secondary-button {
    @extend %button_font;
    display: block;
    max-width: 90%;
    margin-top: .5rem;
    padding: 0px;
    border: 0px;
    background: transparent;
    color: $link_color;
    font-size: 0.65rem;
    text-transform: capitalize;

    &.back-button {
        margin-top: 3rem;
    }
    
}

.default-button {
    @extend %button;
    color: $light_link_color;
    background-color: $primary_button_color;
}

.default-button:hover {
    background-color: $primary_button_pressed_color;
}

input[type='submit'] {
    min-width: 5rem;
}

.location .action-button {
    @extend %button_font;
    background: transparent;
    border: none;
    color: $link_color;
    text-decoration: none;
    display: block;
    margin: auto;
    text-align: center;

    &.action-button::before {
        content:'';
        display: block;
        margin: auto;
        height: 30px;
        width: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        margin-bottom: .5rem;

    }

    &.directions::before {
        background-image: url(../images/icons/96px/directions-blue.png);  
    }
}