%button {
    @extend %button_font;
    border: none;
    padding: 0.9375rem;
    min-width: 200px;
    max-width: 90%;
    border-radius: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition-duration: $default-transition-duration;
}

.button-link {
    @extend %button_font;
}

.default-button {
    @extend %button;
    color: $light_link_color;
    background-color: $pimary_button_color;
}

.default-button:hover {
    background-color: $pimary_button_pressed_color;
}

input[type='submit'] {
    min-width: 5rem;
}

.location .action-button {
    @extend %button_font;
    background: transparent;
    border: none;
    color: $link_color;
    text-decoration: none;
    display: block;
    margin: auto;
    text-align: center;

    &.action-button::before {
        content:'';
        display: block;
        margin: auto;
        height: 30px;
        width: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        margin-bottom: .5rem;

    }

    &.directions::before {
        background-image: url(../images/icons/96px/directions-blue.png);  
    }
}