a {
    &.title-card,
    &.trip-card {
        text-decoration: none;
    }
}

.trip-card {
    border: 1px solid $light_border_color;
    margin: 2% 0;
}

.trip-card-small {
    border-bottom: 1px solid $light_border_color;
    &:first-child {
        border-top: 1px solid $light_border_color;
    }
}

.trip-card,
.trip-card-small {
    background-color: $white;
    display: flex;
    
    
    p:first-child {
        padding-top: 0px;
    }
    
    .title {
        margin-bottom: .75rem;
        color: $gray;

        + .meta-data {
            margin: .25rem 0px;
        }
    }
}


.trip-card-content {
    flex-basis: 75%;
    margin-left: 7px;
    padding: 7px 7px 7px 0px;
}

.trip-card-image {
    overflow: hidden;
    flex-basis: 20%;
    img {
        width: 100%;
        height: auto;
        @supports (object-fit: cover) {
            height: 100%;
            object-fit: cover;
        }
       
    }
}

.trip-card-small {
    .trip-card-content {
        flex-basis: 80%;
    }
    .trip-card-image {
        flex-basis: 15%;
    }
    .trip-card-image {
        min-width: 90px;
        height: 120px;
    }

    .title {
        @extend %subtitle2_font;
    }

    .add-or-remove {
        @extend %caption_font;
        font-weight: 400;
        text-transform: uppercase;
        color: $link_color;
        display: block;
        margin-top: 1rem;
        text-align: right;
        border: transparent;
        background-color: transparent;
        span {
            font-size: 0px;
            width: 0px;
            height: 0px;
            line-height: 0px;
            letter-spacing: 0px;
        }
    }
}


.trip-card-image {
    min-width: 120px;
    height: 160px;
}

.trip-card .title {
    @extend %headline6_font;
}

.title-card {
    background-color: $gray;
    color: $white_text_color;

    .title-card-image {
        height: 300px;
        overflow: hidden;
        
        img {
            width: 100%;
            height: auto; 
            @supports (object-fit: cover) {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    p {
        padding: .5rem;
        margin: 0px;
        text-align: center;
    }

}

.grid-2 .title-card  {
    &:nth-child(1),
    &:nth-child(2) {
        margin-top: 0px;
    }
    .title-card-image {
        height: 150px;
    }

}