a {
    &.location-card,
    &.title-card{
        text-decoration: none;
    }
}

.location-card {
    margin: 2% auto;
    background-color: $white;
    display: flex;
    border: 1px solid $light_border_color;
    
    p:first-child {
        padding-top: 0px;
    }
    
    .location-card-content {
        flex-basis: 75%;
        margin-left: 7px;
        padding: 7px 7px 7px 0px;
    }
    .location-card-image {
        flex-basis: 20%;
        min-width: 100px;
        height: 110px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            @supports (object-fit: cover) {
                height: 100%;
                object-fit: cover;
            }
           
        }
    }

    
    .title {
        @extend %subtitle1_font;
        margin-bottom: .75rem;
        color: $gray;

        + .meta-data {
            margin: .25rem 0px;
        }
        
    }
}

.title-card {
    background-color: $gray;
    color: $white_text_color;

    .title-card-image {
        height: 300px;
        overflow: hidden;
        
        img {
            width: 100%;
            height: auto; 
            @supports (object-fit: cover) {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    p {
        padding: .5rem;
        margin: 0px;
        text-align: center;
    }

}