
  
  .search-filter-container {
    @extend %caption_font;
    position: relative;
  
    &.open {
      .search-filter {
        background-color: $white;
        color: $gray_text_color;
      }
    } 
  
    .default-button {
      padding: .5rem;
      margin-bottom: 0px;
    }
  }

  .search-filter {
    color: $white;
    background-color: transparent;
    border: 1px solid $white;
    padding: .3rem .5rem;
    line-height: 1;
    margin-top: .5rem;
    margin-right: .5rem;
  }
  
  
  .search-filter-dropdown {
    position: absolute;
    top: 22px;
    left: 0px;
    border: 1px solid $gray;
    background-color: $white;
    padding: .5rem;
    width: 250px;
    display: none;
    z-index: 2;
  }
  
  .open .search-filter-dropdown {
    display: block;
  }
