html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

header,
main
footer,
.dark-background,
.light-background {
    width: 100%;
    min-width: 320px;
}

header .container,
main .container,
footer .container,
.dark-background .container,
.light-background .container {
    width: 98%;
    max-width: 1200px;
    margin: auto;
}

header {
    height: 94px;
}

.grid-2_3,
.grid-scroll {
    display: flex;
    justify-content: space-between;

}

.grid-2_3 {
    flex-wrap: wrap;
}

.grid-2_3  > * {
    flex-basis: 48%;
}

.grid-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
}

.grid-scroll > * {
    min-width: 260px;
    margin-right: 2%;
    margin-top: 2%;
    border: 1px gray solid;
}

.grid-1_3 > *,
.grid-2_3  > *,
.grid-1_2 > * {
    margin-top: 2%;
    border: 1px $gray solid;
}

.grid-map > * {
    border: 1px $gray solid;
}

.grid-map .map-container {
    position: fixed;
    bottom: 0px;
    right: -1px;
    left: -1px;

    .map {
        transition-duration: $default-transition-duration;
    }

    &.open  .map {
        height: 50vh;
    }

    &.close .map {
        height: 93px;
    }
   
}

@media (min-width: 769px) {

    header {
        height: auto;
    }

    .grid-1_3,
    .grid-1_2,
    .grid-2_3, 
    .grid-map,
    .grid-scroll {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .grid-1_3 > *,
    .grid-2_3  > *,
    .grid-scroll > * {
        flex-basis: 31%;
    }

    .grid-scroll > * {
        margin-right: 0px;
        min-width: 0;
    }

    .grid-1_2 > *,
    .grid-map > * {
        flex-basis: 48%;
    }

    .grid-map > * {
        margin-top: 2%;
    }

    .grid-map .map-container {
        position: static;

        .map-toggle-bar {
            display: none;
        }

        .map {
            height: 80vh;
        }
    }
}


@supports (display: grid) {

}