html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

header,
main
footer,
.dark-background,
.light-background {
    width: 100%;
    min-width: 320px;
}

footer {
    margin-bottom: 100px;
}


header .container,
main .container,
footer .container,
.dark-background .container,
.light-background .container {
    width: 98%;
    max-width: 1800px;
    margin: auto;
}

main {
    width: 100%;
    max-width: 1800px;
}

footer .container {
    padding: 20px 0px;
}


.container.mobile-padding {
    padding-left: 2%;
    padding-right: 2%;
}

.container.header-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

header {
    height: 94px;

}

.mobile-header {
    height: 60px;
}

.mobile-header .container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 100%;
}

.form-grid {
    max-width: 650px;
}

.gird-70-30,
.grid-2_3,
.grid-scroll {
    display: flex;
    justify-content: space-between;

}

.gird-70-30 {
  .col-70 {
      flex-basis: 69%;
  }
  .col-30 {
      flex-basis: 29%;
  }
}


.grid-2_3 {
    flex-wrap: wrap;
}

.grid-2_3  > * {
    flex-basis: 48%;
}

.grid-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
}

.grid-scroll > * {
    min-width: 260px;
    margin-right: 2%;
    margin-top: 2%;
}

.grid-1_3 > *,
.grid-2_3  > *,
.grid-1_2 > *,
.grid-2 > *,
.form-grid > *{
    margin-top: 2%;
}

.grid-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.grid-2 > * {
    flex-basis: 48%;
}

.grid-map {
    
    .cards-container {
        margin-top: .425rem;
        &.open {
            margin-bottom: 20vh;
        }
    }

    .map-container {
        position: fixed;
        bottom: 0px;
        right: -1px;
        left: -1px;

        .map {
            transition-duration: $default-transition-duration;
        }

        &.open  .map .leaflet-container {
            height: 55vh;
        }

        &.close .map .leaflet-container {
            height: 93px;
        }

    }
   
}

@media (min-width: 769px) {

    .mobile-header {
        display: none !important;
    }

    .container.mobile-padding {
        padding-left: 0%;
        padding-right: 0%;
    }

    header {
        height: auto;
    }

    footer {
        margin-bottom: 0px;
    }

    .grid-1_3,
    .grid-1_2,
    .form-grid,
    .grid-2_3, 
    .grid-map,
    .grid-scroll {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .grid-1_3 > *,
    .grid-2_3  > *,
    .grid-scroll > * {
        flex-basis: 31%;
    }

    .grid-scroll > * {
        margin-right: 0px;
        min-width: 0;
    }

    .grid-1_2 > *,
    .form-grid > *,
    .grid-map > * {
        flex-basis: 48%;
    }

    .grid-map .map-container {
        position: static;

        .toggle-bar {
            display: none;
        }
    }

    .grid-map .cards-container,
    .grid-map .map-container.open .map .leaflet-container,
    .grid-map .map-container.close .map .leaflet-container{
        height: 90vh;
    }

    .grid-map .cards-container  {
        overflow-y: scroll;

        &.open {
            margin-bottom: 0px;
        }
        

        /* width */
        &::-webkit-scrollbar {
            width: 4px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: $light_gray;
            border-top: 1px $light_border_color solid;
            border-bottom: 1px $light_border_color solid;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $gray;
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $primary_accent_color;
        }
    }
}