html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

header,
nav,
main
footer,
.dark-background,
.light-background {
    width: 100%;
    min-width: 320px;
}

header .container,
nav .container,
main .container,
footer .container,
.dark-background .container,
.light-background .container {
    width: 98%;
    max-width: 1425px;
    margin: auto;
}

footer  {
    .container {
        border-top: 1px $gray solid;
        margin-top: 20px;
    }

    p.caption {
        font-style: italic;
        max-width: 500px;
    }
}

@media (min-width: 769px) {

}


@supports (display: grid) {

}