.map-container {
    .toggle-bar {
        background-color: $black;
        color: $white_text_color;
        p {
            @extend %button_font;
            margin: 0px;
            padding: .5em;
    
            &::before {
                content: '';
                display: inline-block;
                margin-right: .5em;
                width: .9em;
                height: .9em;
                background-image: url(../images/icons/48px/chevron-white.png);
                background-repeat: no-repeat;
                background-size: .9em;
                background-position: center bottom;
                transition-duration: $default-transition-duration;
            }
        }
    }

    &.open .toggle-bar p::before {
        transform: rotate(90deg);
    }

    &.close .toggle-bar p::before {
        transform: rotate(0deg);
    }

}

.map-popup {

    .location-popup-image {
        text-align: center;
        margin: auto;
        max-width: 100%;
        min-width: 200px;
        max-height: 20vh;
        overflow: hidden;
    

        @media (min-width: 769px) {
            width: 100%;
            max-height: none;
        }
    }

    img {
        width: 100%;
        height: auto;
        @supports (object-fit: cover) {
            height: 100%;
            object-fit: cover;
        }
    }

    .title {
        @extend %caption_font;
        max-width: 100%;
        margin-top: .5rem;
        text-decoration: none;
        color: $gray;
        &::after {
            content: '';
            background-image: url(../images/icons/48px/chevron-gray.png);
            display: inline-block;
            background-position: center 107%;
            height:0.9375rem; 
            width: 0.9375rem; 
            background-size:  0.55rem;
            background-repeat: no-repeat;
            margin-right: 7px;
        }

        @media (min-width: 769px) {
            min-width: 250px;
        }
    }
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}