
header {
    z-index: 20;
    h1 {
        font-size: 0px;
        line-height: 0;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        max-width: 98%;
        padding-left: 2%;
        padding-right: 2%;
        max-width: 1800px;
    }

    padding: 10px 0px;


    .logo { 
        padding-right: 2.5rem;

        img {
            width: 70px;
        }
    }

    nav {
        
        a {
            text-decoration: none;
            font-weight: normal;

            &.active {
                text-decoration: underline;
                font-weight: 700;
            }
        }

    }

    ul {
        padding: 0px;
        display: flex;
        margin: 1rem 0 4px 0;
        
        li {
            @extend %body1_font;
            margin-right: 2.5rem;
            list-style: none;
            font-weight: $normal_weight;
            text-align: center;
        }

        span {
            display: block;
        }
    }
}


@media (min-width: 769px) {
    header {


        .container {
            display: flex;
            padding: 0px;
        }
        
        .logo {
            img {
                height: auto;
                line-height: 1.5;
                width: 100px;
            }
        }

        nav {
            margin-bottom: 0px;
            margin-top: auto;
            margin-right: 0px;
            margin-left: auto;
            min-width: 300px;
            width: auto;

            ul {
                justify-content: space-between;
                li {
                    flex-basis: 20%;
                    margin-right: 0px;
                    font-size: 0.75rem;
                    span {
                        &::before {
                            content: '';
                            display: block;
                            height: 35px;
                            width: 25px;
                            margin: auto;
                            padding-bottom: 10px;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }

            .explore {
                span::before {
                    background-image: url(../images/icons/96px/search-white.png);
                }
        
                &.active span::before {
                    background-image: url(../images/icons/96px/search-bold-white.png);
                }
            }
            
            .trips {
                span::before {
                    background-image: url(../images/icons/96px/trips-outline-white.png);
                }
        
                &.active span::before {
                    background-image: url(../images/icons/96px/trips-fill-white.png);
                }
            }
            
            .add {
                span::before {
                    background-image: url(../images/icons/96px/add-outline-white.png);
                }
        
                &.active span::before {
                    background-image: url(../images/icons/96px/add-fill-white.png);
                }
            }
        
            .profile {
                span::before {
                    background-image: url(../images/icons/96px/profile-outline-white.png);
                }
        
                &.active span::before {
                    background-image: url(../images/icons/96px/profile-fill-white.png);
                }
            }
        }
        
    }

}






