
header {
    z-index: 20;
    h1 {
        font-size: 0px;
        line-height: 0;
    }
    
    position: fixed;
    bottom: 0px;
    padding: 10px 0px;

    .container {
        display: flex;
    }
   

    .logo {

        display: flex;
        align-items: center;

        img {
            width: 0px;
            height: 0px;
            line-height: 0px;
        }
    }

    nav {
        margin: auto;
        width: 90%;
        
        a {
            text-decoration: none;
            font-weight: normal;

            &.active {
                text-decoration: underline;
                font-weight: 700;
            }
        }


    }

    ul {
        padding: 0px;
        display: flex;
        justify-content: space-between;


        li {
            @extend %caption_font;
            flex-basis: 20%;
            list-style: none;
            font-weight: $normal_weight;
            text-align: center;

            img {
                max-width: 25px;
                display: block;
                margin: auto;
                padding-bottom: 10px;
            }

            span {
                display: block;

                &::before {
                    content: '';
                    display: block;
                    height: 35px;
                    width: 25px;
                    margin: auto;
                    padding-bottom: 10px;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}


@media (min-width: 769px) {
    header {
        position: static;
        
        .logo {
            img {
                height: auto;
                line-height: 1.5;
                width: 100%;
                max-width: 100px;
            }
        }

        nav {
            margin-bottom: 0px;
            margin-top: auto;
            margin-right: 0px;
            margin-left: auto;
            min-width: 300px;
            width: auto;
        }
        
    }

}




nav {
    .explore {
        span::before {
            background-image: url(../images/icons/96px/search-white.png);
        }

        &.active span::before {
            background-image: url(../images/icons/96px/search-bold-white.png);
        }
    }
    
    .trips {
        span::before {
            background-image: url(../images/icons/96px/trips-outline-white.png);
        }

        &.active span::before {
            background-image: url(../images/icons/96px/trips-fill-white.png);
        }
    }
    
    .add {
        span::before {
            background-image: url(../images/icons/96px/add-outline-white.png);
        }

        &.active span::before {
            background-image: url(../images/icons/96px/add-fill-white.png);
        }
    }

    .profile {
        span::before {
            background-image: url(../images/icons/96px/profile-outline-white.png);
        }

        &.active span::before {
            background-image: url(../images/icons/96px/profile-fill-white.png);
        }
    }
}


