:root {
    font-size: 16px;
}

%headline1_font {
    font-family: $serif_font;
    font-size: 6.625rem; // 106px
    font-weight: $normal_weight;
    letter-spacing: -0.09375rem; // -1.5px
}

%headline2_font {
    font-family: $serif_font;
    font-size: 4.125rem; // 66px
    font-weight: $normal_weight;
    letter-spacing: -0.03125rem; // -0.5px
}

%headline3_font {
    font-family: $serif_font;
    font-size: 3.3125rem; // 53px
    font-weight: $normal_weight;
    letter-spacing: 0px; // 0px
}

%headline4_font {
    font-family: $serif_font;
    font-size: 2.375rem; // 38px
    font-weight: $normal_weight;
    letter-spacing: 0.01625rem; // 0.25px 
}

%headline5_font {
    font-family: $serif_font;
    font-size: 1.625rem; // 26px
    font-weight: $normal_weight;
    letter-spacing: 0px; // 0px  
}

%headline6_font {
    font-family: $serif_font;
    font-size: 1.375rem; // 22px
    font-weight: $normal_weight;
    letter-spacing: 0.009375rem; // 0.15px  
}

%subtitle1_font {
    font-family: $sans_serif_font;
    font-size: 0.9375rem; // 15px
    font-weight: $normal_weight;
    letter-spacing: 0.009375rem; // 0.15px
}

%subtitle2_font {
    font-family: $sans_serif_font;
    font-size: 0.8125rem; // 13px
    font-weight: $medium_weight;
    letter-spacing: 0.00625rem; // 0.1px 
}

%body1_font {
    font-family: $sans_serif_font;
    font-size: 0.9375rem; // 15px
    font-weight: $normal_weight;
   letter-spacing: 0.03125rem; // 0.5px
    
}

%body2_font {
    font-family: $sans_serif_font;
    font-size: 0.8125rem; // 13px
    font-weight: $normal_weight;
    letter-spacing: 0.015625rem;// 0.25px
}

%button_font {
    font-family: $sans_serif_font;
    font-size: 0.8125rem; // 13px
    font-weight: $medium_weight;
    letter-spacing: 0.078125rem; // 1.25px
    text-transform: uppercase;
}

%caption_font {
    font-family: $sans_serif_font;
    font-size: 0.75rem; // 12px
    font-weight: $normal_weight;
    letter-spacing: 0.025rem; // 0.4px
}

%overline_font {
    font-family: $sans_serif_font;
    font-size: 0.625rem; // 10px
    font-weight: $normal_weight;
    text-transform: uppercase; 
    letter-spacing: 0.09375rem; // 1.5px
}

.center-text {
    text-align: center;
}

body {
   @extend %body2_font;
}

p:not(:first-child) {
    margin-top: 1.5rem;
}

p:first-child {
    margin-top: 0px;
    padding-top: 1rem
}

h1,
.h1-font {
    @extend %headline1_font;
}

h2,
.h2-font {
    @extend %headline2_font;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h3,
.h3-font {
    @extend %headline3_font;
    margin-bottom: 1rem;
}

h4,
.h4-font {
    @extend %headline4_font;
}

h5,
.h5-font {
    @extend %headline5_font;
    margin-bottom: .83em;
}

h6,
.h6-font {
    @extend %headline6_font;
}

.caption-font {
    @extend %caption_font;
}

p.error-font,
.error-font {
    color: $alert_color;
    font-weight: bold;
    margin-top: 1rem;
    
}

p.meta-data:not(:first-child) {
    margin-top: .5rem;
}

.meta-data {
    @extend %caption_font;
    color: $gray;
    margin: 0px;

    span {
        font-size: 0px;
    }

    &.saved::before,
    &.marker::before,
    &.public::before,
    &.private::before {
        content:'';
        display: inline-block;
        width: 0.6rem;
        height: 0.6rem;
        background-repeat: no-repeat;
        background-size: 0.6rem;
        background-position: center bottom;
        margin-right: 0.25rem;
    }

    &.saved::before {
        background-image:  url(../images/icons/48px/heart-gray.png);
    }

    &.marker::before {
        background-image:  url(../images/icons/48px/marker-gray.png);
    }

    &.public::before {
        background-image:  url(../images/icons/48px/profile-gray.png);
    }

    &.private::before {
        background-image:  url(../images/icons/48px/lock-gray.png);
    }
}

@media (min-width: 769px) {
    :root {
        font-size: 18px;
    }

}
