@import '_normalize.scss';
@import '_variables.scss';
@import '_typography.scss';
@import '_grid.scss';
@import '_navbar.scss';
@import '_slider.scss';
@import '_maps.scss';
@import '_cards.scss';
@import '_buttons';
@import '_forms.scss';
@import '_filters.scss';
@import '_user.scss';
@import '_modals.scss';

/* COLORS */
body {
  color: $black;
}

a,
.button-link {
    color: $link_color;
}

.hidden {
  display: none;
  visibility: hidden;
}

.caption {
  @extend %caption_font;
  color: $gray_text_color;
}

.light-background {
  background-color: $white;
  color: $black_text_color;
}

.dark-background,
.home .background-image {
  color: $white_text_color;
  background-color: $gray;

  a,
  .button-link  {
      color: $light_link_color;
  }
}

header,
nav {
    background-color: $gray;
    color: $white_text_color;

    a {
       color: $light_link_color;
       font-weight: $bold_weight;
       text-decoration: underline;
    }
}

body {
    background-color: $light_gray;
}

footer  {
  .container {
      border-top: 1px $gray solid;
      margin-top: 20px;
  }

  p.caption {
      font-style: italic;
      line-height: 1.5;
      max-width: 800px;
  }
}

.sr-only,
.sr-only > *,
.sr-only p:first-child {
  font-size: 0px !important;
  line-height: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}

.home-heading {
  @extend %headline2_font;
    margin-bottom: 0px;
}

.home {
  .background-image {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,.5)), url(../images/home-back.jpg);
    background-size: cover;
  }

  .search-bar-container {
    padding-bottom: 20px;
  }
}


p.results-status {
  @extend %headline6_font;
  line-height: 1.5
}

.location {
    h2 {
      @extend %headline5_font;
      margin-bottom: 0rem;
    }

    h3 {
      @extend %headline6_font;
      margin-bottom: .5rem;
    }

    .data-container {
      border-top: 1px $gray solid;
    }
}

.subject-indicators {
  margin: 10px 0px 0px 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;

  li {
    @extend %body1_font;
    padding-right: 20px;
    margin-bottom: 15px;
    list-style: none;


    &:last-child {
      padding-right: 0px;
    }
  
    &::before {
      content: '';
      display: inline-block;
      height: 1.25rem;
      width: 1.25rem;
      background-size: 1.25rem;
      margin-right: 7px;
      margin-bottom: -5px;
      background-repeat: no-repeat;
    }
  }

  .sunset::before {
    background-image: url(../images/icons/48px/filters/sunset.png);
  }

  .sunrise::before {
    background-image: url(../images/icons/48px/filters/sunrise.png);
  }

  .architecture::before {
    background-image: url(../images/icons/48px/filters/architecture.png);
  }

  .urban::before{
    background-image: url(../images/icons/48px/filters/urban.png);
  }

  .landscape::before {
    background-image: url(../images/icons/48px/filters/landscape.png);
  }

  .transport::before {
    background-image: url(../images/icons/48px/filters/transport.png);
  }

  .indoors::before {
    background-image: url(../images/icons/48px/filters/indoor.png);
  }

  .people::before {
    background-image: url(../images/icons/48px/filters/people.png);
  }

  .astro::before {
    background-image: url(../images/icons/48px/filters/astro.png);
  }

  .abandoned::before {
    background-image: url(../images/icons/48px/filters/abandoned.png);
  }

  .water::before {
    background-image: url(../images/icons/48px/filters/water.png);
  }

  .street-art::before {
    background-image: url(../images/icons/48px/filters/street-art.png);
  }

  .nature::before {
    background-image: url(../images/icons/48px/filters/nature.png);
  }

}

.trips {
  h3 {
    margin-top: 0px;
  }
}

.manage-trips-modal ul.existing-trips {
  padding: 0px;
  margin: 0px;
  list-style: none;
  max-height: 90vh;
  overflow: scroll;
}

.edit-trip-modal form:not(:last-child),
.manage-trips-modal form:not(:last-child){
  border-bottom: 1px solid $light_border_color;
}

.manage-trips-modal .modal-main h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.trip {

  .cards-container {
    margin-top: 0px;
  }
  
  h2 {
    margin-bottom: 0px;
    + p {
      margin-top: 1rem;
    }
  }

  .actions {
    margin-top: 1rem;
  }

  .gird-70-30 .col-70 {
    flex-basis: 100%;
    margin-bottom: 1rem;
  }
}

.trip .gird-70-30 {
  .col-30 {
      display: none;
  }
  @media(min-width:769px) {
      .col-30 {
          display: block;
      }
  }
}




@media (min-width: 769px) {

  .home-heading {
    display: none;
  }

  .home  {
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
  }
  
    .background-image {
        .container {
          padding-top: 50px;
          padding-bottom: 50px;
        }
    }
  }

  .search {
    margin-bottom: -20px;
  }

  .trip {
    .gird-70-30 .col-70 {
      flex-basis: 69%;
    }
  }

  .location {
    h2 {
      font-family: $serif_font;
      font-size: 2.375rem; // 38px
      font-weight: $normal_weight;
      letter-spacing: 0.01625rem; // 0.25px 
    }

    h3 {
      font-family: $serif_font;
      font-size: 1.625rem; // 26px
      font-weight: $normal_weight;
      letter-spacing: 0px; // 0px  
    }

    // .actions {
    //   li {
    //     display: inline-block !important;
    //   }
    // }
  }
}
