@import '_normalize.scss';
@import '_variables.scss';
@import '_typography.scss';
@import '_grid.scss';
@import '_header.scss';
@import '_navbar.scss';
@import '_slider.scss';
@import '_maps.scss';
@import '_cards.scss';
@import '_buttons';
@import '_forms.scss';
@import '_user.scss';

/* COLORS */
body {
  color: $black;
}

a,
.button-link {
    color: $link_color;
}

.caption {
  @extend %caption_font;
  color: $gray_text_color;
}

.light-background {
  background-color: $white;
  color: $black_text_color;
}

.dark-background,
.home .background-image {
  color: $white_text_color;
  background-color: $gray;

  a,
  .button-link  {
      color: $light_link_color;
  }
}

header,
nav {
    background-color: $gray;
    color: $white_text_color;

    a {
       color: $light_link_color;
       font-weight: $bold_weight;
       text-decoration: underline;
    }
}

body {
    background-color: $light_gray;
}

footer  {
  .container {
      border-top: 1px $gray solid;
      margin-top: 20px;
  }

  p.caption {
      font-style: italic;
      max-width: 500px;
  }
}



.home-heading {
  @extend %headline3_font;
    margin-bottom: 0px;
    padding-top: 20px;
}

.home {
  .background-image {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,.5)), url(../images/home-back.jpg);
    background-size: cover;
  }

  .search-bar-container {
    padding-bottom: 20px;
  }
}



p.results-status {
  @extend %headline6_font;
  margin-top: 30px;
  line-height: 1.5
}

.location {
    h2 {
      @extend %headline4_font;
      margin-bottom: 1rem;
    }

    h3 {
      @extend %headline5_font;
      margin-bottom: .5rem;
      
    }

    .data-container {
      border-top: 1px $gray solid;
    }
}


.subject-indicators {
  margin: 10px 0px 0px 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;

  li {
    @extend %body2_font;
    padding-right: 20px;
    margin-bottom: 15px;
    list-style: none;


    &:last-child {
      padding-right: 0px;
    }
  
    &::before {
      content: '';
      display: inline-block;
      height: 1.25rem;
      width: 1.25rem;
      background-size: 1.25rem;
      margin-right: 7px;
      margin-bottom: -5px;
      background-repeat: no-repeat;
    }
  }

  .sunset::before {
    background-image: url(../images/icons/48px/filters/sunset.png);
  }

  .sunrise::before {
    background-image: url(../images/icons/48px/filters/sunrise.png);
  }

  .architecture::before {
    background-image: url(../images/icons/48px/filters/architecture.png);
  }

  .urban::before{
    background-image: url(../images/icons/48px/filters/urban.png);
  }

  .landscape::before {
    background-image: url(../images/icons/48px/filters/landscape.png);
  }

  .transport::before {
    background-image: url(../images/icons/48px/filters/transport.png);
  }

  .indoors::before {
    background-image: url(../images/icons/48px/filters/indoor.png);
  }

  .people::before {
    background-image: url(../images/icons/48px/filters/people.png);
  }

  .astro::before {
    background-image: url(../images/icons/48px/filters/astro.png);
  }

  .abandoned::before {
    background-image: url(../images/icons/48px/filters/abandoned.png);
  }

  .water::before {
    background-image: url(../images/icons/48px/filters/water.png);
  }

}


@media (min-width: 769px) {

  .home-heading {
    display: none;
  }

  .home  {
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
  }
  
    .background-image {
        .container {
          padding-top: 50px;
          padding-bottom: 50px;
        }
    }
  }

  .search {
    margin-bottom: -20px;
  }
}
