@import '_normalize.scss';
@import '_variables.scss';
@import '_typography.scss';
@import '_grid.scss';
@import '_header.scss';
@import '_navbar.scss';
@import '_slider.scss';
@import '_maps.scss';
@import '_cards.scss';
@import '_forms.scss';
@import '_user.scss';

/* COLORS */
a,
.button-link {
    color: $link_color;
}

.caption {
  @extend %caption_font;
  color: $gray_text_color;
}

.light-background {
  background-color: $white;
  color: $black_text_color;
}

.dark-background {
  color: $white_text_color;
  background-color: $gray;

  a,
  .button-link  {
      color: $light_link_color;
  }
}

header,
nav {
    background-color: $gray;
    color: $white_text_color;

    a {
       color: $light_link_color;
       font-weight: $bold_weight;
       text-decoration: underline;
    }
}

body {
    background-color: $light_gray;
}

footer  {
  .container {
      border-top: 1px $gray solid;
      margin-top: 20px;
  }

  p.caption {
      font-style: italic;
      max-width: 500px;
  }
}
